@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap');
*{
  font-family: "Edu SA Hand", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}